<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.lindov.osx.PreLoginMount</string>
	<key>LimitLoadToSessionType</key>
	<string>LoginWindow</string>
	<key>OnDemand</key>
	<false/>
	<key>LaunchOnlyOnce</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/PrivilegedHelperTools/PreLoginMount.app/Contents/MacOS/PreLoginMount</string>
	</array>
</dict>
</plist>
